body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  border: none;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  width: 50px;
  &:disabled {
    background-color: lightgray;
  }
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin: 0 5px;
  &:disabled {
    background-color: lightgray;
    cursor: default;
  }
}
